html,body
{
    margin: 0vh;
    height: 100%;
    width: 100%;
    cursor: url();
    
}
img
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#main
{

   
    background-color: #C4BCB3 ;
    overflow-x: hidden;
}
#page1
{
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    height: 150vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
overflow: hidden;
}
#NAV
{
    height: 110px;
  
    width: 95.4%;
    display: flex; 
    padding: 0 30px;
    
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;


}
#NAV img{
    height: 40px;
    width: 30%;
}
#NAV h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
#NAV i{
    width: 30%;
    text-align: right;

}
#elems
{
   
    height: 430px;
    display: flex;
    align-items: center;
     justify-content: space-between;
     padding: 40px 60px;

}
#elem1
{

    width: 30%;
    height: 100%;
   
   
}
#elem2
{
    
    width: 25%;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
   
}
#elem3
{
    width: 30%;
    height: 100%;
  
}

#elem1 #image-div
{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div:hover img
{
    scale: 1.1;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#elem2 #image-div 
{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem3 #image-div
{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem1 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
#elem1 h4 span{
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    padding: 4px;
    border-radius: 5%;
}
#elem1 p{
    font-size: 19px;
    font-weight: 100;
    color: #656565;
}
#elem3 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
#elem3 h4 span{
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    padding: 4px;
    border-radius: 5%;
}
#elem3 p{
    font-size: 23px;
    font-weight: 100;
    color: #656565;
}
#elem2 h2
{
   
font-size: 50px;
font-weight: 100;
} 
#elem2 h3
{
    color: #4b4b4b;
font-size: 36px;
font-weight: 100;
} 

#elem2 h5
{
    color: #4b4b4b;
font-size: 20px;
font-weight: 100;
} 
#page1 h1{
   text-align: center;
    margin-top: 0;
    background-color: #1c1c19;
    color: #C4BCB3;
  font-size: 250px;
line-height: 300px;
width: 96%;
margin-left: 2%;
}

#page2
{
   
    border-left: 5px solid white;
    height: 170vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    
}
#page2-left
{
    padding-right: 40px;
    height: 100%;
    width: 40%;
  border-right: 1px solid #222;

}
#page2-left h2
{
    text-align: center;
font-size: 80px;
line-height: 100px;
}
#page2-left span{
    font-size: 100px;
font-weight: 100;
}
#page2-left img
{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-size: 20px;
    color: #222;
    margin-top: 20px;
}
#page2-right
{
height: 100%;
width: 60%;
padding: 0px 60px;
}
#page2-right img
{
    margin-right: 100px;
    height: 50%;
    width: 100%;
    object-fit: cover;
}
#page2-right h1
{
    font-size: 55px;
    letter-spacing: -4px;
    font-weight: 100;
}

#page-3
{
    border-left: 5px solid white;
    height: 110vh;
    width: 100vw;
    background-color: #C4BCB3;
   
}
#media-scroller
{
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
  
    padding: 0 var(--_spacer) var(--_spacer);
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
#media
{
    margin:10px;
}
#media img{

    object-fit: cover;
    height: 80vh;
    width: 100%;

}

footer{
    border-left: 5px solid white;
    height: auto;
    width: 100vw;
    background-color: #C4BCB3;
    border-top: 1px solid black;
    
    background: #C4BCB3;
}

.container{
    width: 1140px;
    height: auto;
    margin: auto;
    padding: 40px 0px;
}

#box1
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}
.box{
    
    width: 33.3%;
    height: auto;
    float: left;
}

h1{

    font-size: 32px;
    font-weight: 500;
    padding: 8px 12px;
}

.about{
    padding: 8px 12px;
}

.copyright{
    color: #fff;
    background-color: #1c1c19;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px;
    clear: both;
}

.quick , .social{
    text-align: center;
    padding: 8px 12px;
}

.q-link li,.s-link li{
    padding: 8px 12px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

.q-link li:hover , .s-link li:hover{
    color: #022645;
}
#media-scroller img{
 
    object-fit: cover;
    transition: all ease 0.5s;
}
#media img:hover
{
    scale: 1.05;
}

